##############
# this project
##############
/conda_local_env_settings/
/bin/
tools/jcat/jcat

##############
# spyder
##############
**/.spyproject/
# config
/spyder/MacOS/arm64/spyder-py3/config/backups/
spyder/MacOS/arm64/spyder-py3/config/spyder.ini
spyder/MacOS/arm64/spyder-py3/config/transient.ini
# basic
spyder/MacOS/arm64/spyder-py3/history.py
spyder/MacOS/arm64/spyder-py3/pdb_history.sqlite
spyder/MacOS/arm64/spyder-py3/workingdir
spyder/MacOS/arm64/spyder-py3/spyder.lock
# plugins
spyder/MacOS/arm64/spyder-py3/plugins/notebook/spyder.ini
spyder/MacOS/arm64/spyder-py3/plugins/notebook/backups/spyder.ini.bak

##############
# common project
##############
# python cache
**/__pycache__/
# jupyterlab meta
**/.ipynb_checkpoints/
# pycharm meta
**/.idea/
# vscode
**/.vscode/
# Rstudio history
**/.Rhistory
# macos meta
**/.DS_Store
**/.Trash/

# snakemake configure
**/.snakemake/
samples.json
# HEXO public
/public/
/.deploy_git/
# TexPad temp
/.texpadtmp/
# Polaris slurm system
sna*.err
sna*.out
job.srp*
slurm-*.out
# Others
/tmpdir_*/
.localized

