# Read more about SSH config files: https://linux.die.net/man/5/ssh_config
Host ZSpace
    HostName 162.105.250.36
    User zhaohuanan
Host Ubuntu200
    HostName 162.105.250.145
    User zhaohuanan
Host ThreadRipper
    HostName 162.105.250.110
    User zhaohuanan
    
