# Read more about SSH config files: https://linux.die.net/man/5/ssh_config
Host MacBookAir-M2-24G
    HostName 100.66.1.4
    Port 22
    User zhaohuanan
    IdentityFile ~/.ssh/id_rsa  # 替换为你的私钥路径（可选）
    ServerAliveInterval 60  # 保持连接的心跳包时间间隔（可选）
Host Alioth_Login
    HostName 100.66.1.5
    User hnzhao
    IdentityFile ~/.ssh/id_rsa  # 替换为你的私钥路径（可选）
    ServerAliveInterval 60  # 保持连接的心跳包时间间隔（可选）
Host Alioth_A800_c54b01n01
    HostName c54b01n01
    Port 32985
    User hnzhao
    ProxyJump Sunny_Alioth_Login
    IdentityFile ~/.ssh/id_rsa
    ServerAliveInterval 60
Host Alioth_A800_c58b01n01
    HostName c58b01n01
    Port 32985
    User hnzhao
    ProxyJump Sunny_Alioth_Login
    IdentityFile ~/.ssh/id_rsa
    ServerAliveInterval 60
Host Alioth_L40_c57b01n01
    HostName c57b01n01
    Port 32985
    User hnzhao
    ProxyJump Sunny_Alioth_Login
    IdentityFile ~/.ssh/id_rsa
    ServerAliveInterval 60
Host Alioth_L40_c57b01n02
    HostName c57b01n02
    Port 32985
    User hnzhao
    ProxyJump Sunny_Alioth_Login
    IdentityFile ~/.ssh/id_rsa
    ServerAliveInterval 60
Host Alioth_L40_c57b01n03
    HostName c57b01n03
    Port 32985
    User hnzhao
    ProxyJump Sunny_Alioth_Login
    IdentityFile ~/.ssh/id_rsa
    ServerAliveInterval 60
Host Alioth_L40_c57b01n04
    HostName c57b01n04
    Port 32985
    User hnzhao
    ProxyJump Sunny_Alioth_Login
    IdentityFile ~/.ssh/id_rsa
    ServerAliveInterval 60
Host Alioth_L48_c56b01n01
    HostName c56b01n01
    Port 32985
    User hnzhao
    ProxyJump Sunny_Alioth_Login
    IdentityFile ~/.ssh/id_rsa
    ServerAliveInterval 60
Host Alioth_L48_c57b01n01
    HostName c57b01n01
    Port 32985
    User hnzhao
    ProxyJump Sunny_Alioth_Login
    IdentityFile ~/.ssh/id_rsa
    ServerAliveInterval 60
Host ZSpace
    HostName 100.66.1.1
    User zhaohuanan
